html {
  scroll-behavior: smooth;
}

/* Global Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #c6cacb;
  color: #333333;
  margin: 0;
  padding: 0;
  padding-top: 60px; /* Space for fixed header */
}

/* Header Styling */
header {
  background-color: #777878;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F7F7F7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header nav a {
  color: #F7F7F7;
  margin: 0 25px;
  text-decoration: none;
}

header nav a:hover {
  color: #264653;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  color: #555; /* Adjust color */
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #264653; /* Change color on hover */
}

.social-icons a i {
  margin-right: 5px;
}

/* Header Styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  color: #555; /* Adjust color */
  text-decoration: none;
  font-size: 1.0em; /* Increase icon size */
  transition: color 0.3s;
}

.get-in-touch {
  position: absolute;
  right: 170px; /* Aligns to the top right corner */
  top: 9px;
  bottom: 10px;
  font-size: 1em;
  background-color:  #e8edee ;
  color: #f7f7f7;
  padding: 5px 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.get-in-touch:hover {
  background-color: #557a85;
}

.social-icons a:hover {
  color: #264653; /* Change color on hover */
}

.social-icons a i {
  margin-right: 5px;
}


/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #264653;
  background-color: #c6cacb;
}

#hero .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid rgba(50, 50, 50, 0.15);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  animation: rippleEffect 3s infinite;
}

#hero .circle:nth-child(1) {
  width: 200px;
  height: 200px;
  animation-delay: 0s;
}

#hero .circle:nth-child(2) {
  width: 300px;
  height: 300px;
  animation-delay: 1.5s;
}

#hero .circle:nth-child(3) {
  width: 400px;
  height: 400px;
  animation-delay: 3s;
}

#hero .circle:nth-child(4) {
  width: 500px;
  height: 500px;
  animation-delay: 4.5s;
}

/* Ripple Animation */
@keyframes rippleEffect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust scale for ripple size */
    opacity: 0;
  }
}

/* Profile Container */
.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Ensures profile image is above the ripple effect */
}

.circular-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  z-index: 10;
}

/* Section Styling */
section {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
  color: #333333;
  text-align: center;
}

/* Experience card Styling */
#experience {
  padding: 60px 20px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

#experience h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #555;
}

.experience-scroll-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between cards */
  overflow-x: auto; /* Enables horizontal scrolling */
  padding: 10px 0;
  scrollbar-width: thin; /* For custom scrollbars */
  scrollbar-color: #888 #f7f7f7;
}

.experience-scroll-container::-webkit-scrollbar {
  height: 8px;
}

.experience-scroll-container::-webkit-scrollbar-track {
  background: #f7f7f7;
}

.experience-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.experience-card {
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 350px; /* Ensures consistent card size */
  max-width: 350px;
  flex-shrink: 0; /* Prevent cards from shrinking */
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Container for Experience Section */
.experience-container {
  display: flex;
  justify-content: center; /* Centers the cards horizontally */
  align-items: center; /* Aligns the cards vertically if necessary */
  flex-wrap: wrap; /* Ensures cards wrap to the next row if needed */
  gap: 20px; /* Adds spacing between the cards */
  padding: 20px;
  margin: 0 auto; /* Centers the container itself within the page */
  max-width: 1200px; /* Limits the width of the container */
}


.experience-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.experience-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.experience-title {
  flex: 1;
}

.experience-title h3 {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.company-name {
  font-size: 1em;
  color: #66a5ad;
}

.experience-icons {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.experience-icons i {
  font-size: 1.5em;
  color: #888;
}

.experience-icons i:hover {
  color: #264653;
}

.experience-dates {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 15px;
}

.experience-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience-details li {
  margin-bottom: 10px;
  color: #333;
}

/* Projects Section */
#projects {
  padding: 60px 20px;
  max-width: 60%;
  text-align: center;
}

.projects-carousel {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enable snapping */
  gap: 20px;
  padding: 20px;
}

.project-card {
  flex: 0 0 100%; /* Each card takes 100% of the width */
  scroll-snap-align: center; /* Snap to the center */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #264653;
}

.project-card p {
  font-size: 1em;
  color: #333;
  line-height: 1.4;
  margin-bottom: 15px;
}

.tech-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tech-icons i {
  font-size: 1.5em;
  color: #555;
  transition: color 0.3s;
}

.tech-icons i:hover {
  color: #264653;
}

/* Scrollbar Styling */
.projects-carousel::-webkit-scrollbar {
  height: 8px;
}

.projects-carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.projects-carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .project-card img {
    height: 150px; /* Reduce image height for smaller screens */
  }
}



/* Skills Section */
#skills {
  padding: 60px 20px;
  text-align: center;
}

#skills h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skill {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.1);
}

.skill img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.skill-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.skill:hover .skill-info {
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .skill {
    width: 80px;
    height: 80px;
  }

  .skill-info {
    font-size: 0.9em;
  }
}



/* Contact Section Styling */
#contact {
  padding: 60px 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

#contact h2 {
  font-size: 1.5em;
  color: #555;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.bottom-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Space above the icons */
  gap: 20px; /* Space between icons */
}

.bottom-social-icons a {
  font-size: 30px; /* Larger icon size */
  color: #555;
  text-decoration: none;
  transition: color 0.3s;
}

.bottom-social-icons a:hover {
  color: #264653;
}


.contact-intro {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  color: #555;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item i {
  font-size: 1.2em;
  color: #264653;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row input {
  flex: 1;
  min-width: 0; /* Prevents input from overflowing */
}

input, textarea, button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input, textarea {
  background-color: #f0f2f5;
  color: #333;
}

button {
  background-color: #66a5ad;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

button:hover {
  background-color: #557a85;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .header-container {
    flex-direction: column;
  }
}


/* Responsive Styling for Smaller Screens */
@media (max-width: 768px) {
  header nav a {
    display: block;
    margin: 10px 0;
  }
}

#homeButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #66a5ad;
  color: #f7f7f7;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1em;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

#homeButton i {
  font-size: 1.2em; /* Size of the home icon */
}

/* Download Resume Button Styling */
.download-resume {
  position: fixed; /* Fixes the button to the right side of the screen */
  top: 100px; /* Adjust vertical positioning */
  right: 20px; /* Distance from the right edge */
  background-color: #66a5ad; /* Button background color */
  color: white; /* Text color */
  font-size: 1em; /* Font size */
  font-weight: bold; /* Bold text */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Flex for icon and text alignment */
  align-items: center;
  gap: 10px; /* Space between icon and text */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s, transform 0.3s; /* Smooth hover effects */
  z-index: 1000; /* Keep above other elements */
}

.download-resume:hover {
  background-color: #557a85; /* Darker shade on hover */
  transform: translateY(-3px); /* Slight lift on hover */
}


#homeButton:hover {
  background-color: #264653;
}
/* About Section Styling */
#about {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: #333333;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;

}

.about-image {
  width: 300px; /* Adjust size as necessary */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.about-content h3 {
  font-size: 1.8em;
  font-weight: bold;
}

.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
}

.highlight {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    width: 80%;
  }
}


/* Mobile Responsive Styling */
@media (max-width: 768px) {
  /* General Adjustments */
  body {
    padding-top: 50px; /* Adjust padding for smaller screens */
  }

  header {
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
  }

  header nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  header nav a {
    font-size: 0.9em;
  }

  .get-in-touch {
    margin-top: 10px;
    font-size: 0.8em;
    padding: 5px;
  }

  /* Hero Section */
  #hero {
    padding: 20px;
  }

  .circular-image {
    width: 120px;
    height: 120px;
  }

  #hero .circle {
    display: none; /* Hide ripple effects for simplicity */
  }

  /* About Section */
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-image {
    width: 80%;
  }

  .about-content {
    text-align: center;
  }

  /* Projects Section */
  .projects-carousel {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 10px;
  }

  .project-card {
    flex: 0 0 90%; /* Show one card at a time */
    margin: 0 auto;
  }

  .project-card img {
    height: 150px;
  }

  /* Experience Section */
  .experience-scroll-container {
    overflow-x: scroll;
    gap: 10px;
  }

  .experience-card {
    flex: 0 0 90%;
    margin: 0 auto;
  }

  /* Skills Section */
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 10px;
  }

  .skill {
    width: 60px;
    height: 60px;
  }

  .skill-info {
    font-size: 0.8em;
  }

  /* Contact Section */
  #contact {
    padding: 40px 20px;
  }

  .contact-details {
    text-align: center;
  }

  .form-row {
    flex-direction: column;
  }

  .form-row input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .bottom-social-icons {
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* Enhancements for Horizontal Scrolling Sections */
.projects-carousel,
.experience-scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.projects-carousel::-webkit-scrollbar,
.experience-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for smooth appearance */
}

@media (max-width: 768px) {
  .download-resume {
    top: 20px; /* Reduce distance from top */
    right: 10px; /* Reduce distance from right */
    font-size: 0.9em; /* Smaller font size */
    padding: 8px 15px; /* Smaller button padding */
  }
}

.typing-effect {
  font-family: Garamond, serif;
  font-size: 2.2em;
  color: #264653; /* Adjust color to match your theme */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.cursor {
  font-weight: bold;
  color: #264653;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
